// Import variables
@use '../abstracts/variables' as v;

// Import mixins
@use '../abstracts/mixins' as m;

@use '../base/typography' as t;

/*
* TABLE OF CONTENTS
*
* 1 - General
* 2 - Light mode
*
*/

/*
****
* 1 - General
***
* Section contains the general CSS
*/

/* Set core root defaults */
html {
  font-size: 10px;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  background-color: v.$very-dark-blue;
}

main {
  margin-top: 8rem;
  flex: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Improve focus state
button:focus-visible {
  border-radius: 0.1rem;
  outline: 0.2rem solid v.$button-focus-visible-outline-color;
  outline-offset: 0.4rem;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Disable all animations, transitions and smooth scroll for people that prefer not to see them*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.footer {
  padding: 0 1.28rem 1.28rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  color: v.$footer-text-color;
  text-align: center;

  &__link {
    color: v.$footer-link-text-color;

    // TODO add visited state
    // &:visited {
    //   color: v.$light-mode-footer-link-text-color-visited;
    // }

    &:hover {
      color: v.$footer-link-text-color-hover;
    }

    &:focus-visible {
      border-radius: 1px;
      outline: 0.2rem solid v.$footer-link-focus-visible-color;
    }
  }
}

.noscript {
  margin-bottom: 4rem;
  padding: 2rem 1rem;
  font-size: 2rem;
  color: v.$pale-blue;
  text-align: center;
  letter-spacing: 0.1rem;
  border-bottom: 0.1rem solid;

  &__text {
    margin: 0 auto;
    max-width: 37.5rem;
  }

  @include m.breakpoint-lg() {
    padding: 2rem 0;
  }
}

/*
***
* 2 - Light mode
***
* CSS applies the correct colors for light mode
*/

body[light-mode='true'] {
  background-color: v.$light-mode-main-background-color;

  button:focus-visible {
    outline-color: v.$light-mode-button-focus-visible-outline-color;
  }

  .footer {
    color: v.$light-mode-footer-text-color;

    &__link {
      color: v.$light-mode-footer-link-text-color;

      &:visited {
        color: v.$light-mode-footer-link-text-color-visited;
      }

      &:hover {
        color: v.$light-mode-footer-link-text-color-hover;
      }

      &:focus-visible {
        outline-color: v.$light-mode-footer-link-focus-visible-color;
      }
    }
  }
}
