$font-size-card-titles: 1.8rem; // 18px
$font-size-hours: 3.2rem; // 32px
$font-size-last-time: 1.6rem; // 16px

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-light.woff2') format('woff2'),
    url('../fonts/rubik-light.woff') format('woff'),
    url('../fonts/rubik-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-regular.woff2') format('woff2'),
    url('../fonts/rubik-regular.woff') format('woff'),
    url('../fonts/rubik-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-medium.woff2') format('woff2'),
    url('../fonts/rubik-medium.woff') format('woff'),
    url('../fonts/rubik-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
