@use '../abstracts/variables' as v;

@use '../abstracts/mixins' as m;

.light-mode-toggle {
  position: fixed;
  right: 2.26rem;
  bottom: 2rem;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2rem;
  background: v.$toggle-button-background-color;
  border: none;
  border-radius: 100%;
  cursor: pointer;

  &::after {
    content: '🌓';
  }

  @include m.breakpoint-md() {
    right: 4rem;
    bottom: 4rem;
    width: 5.4rem;
    height: 5.4rem;
    font-size: 2.5rem;
  }

  @include m.breakpoint-lg() {
    position: absolute;
  }
}

body[light-mode='true'] {
  .light-mode-toggle {
    background: v.$light-mode-toggle-button-background-color;
    box-shadow: 0px 3px 5px -1px v.$light-mode-toggle-button-box-shadow-color-1,
      0px 6px 10px 0px v.$light-mode-toggle-button-box-shadow-color-2,
      0px 1px 18px 0px v.$light-mode-toggle-button-box-shadow-color-3;

    &::after {
      content: '🌗';
    }
  }
}
