// Import variables
@use '../abstracts/variables' as v;

// Import mixins
@use '../abstracts/mixins' as m;

@use '../base/typography' as t;

/*
* TABLE OF CONTENTS
*
* 1 - General
* 2 - Card Work
* 3 - Card Play
* 4 - Card Study
* 5 - Card Exercise
* 6 - Card Social
* 7 - Card Self Care
* 8 - Light mode
*
*/

/*
****
* 1 - General
***
* Section contains the general CSS for the cards
*/

.card {
  position: relative;
  margin: 0 auto 6rem;
  padding: 2.3rem 2.5rem 2rem;
  max-width: 33rem;
  background-color: v.$dark-blue;
  border-radius: 1.5rem;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 6rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: -1;
  }

  &:hover {
    background-color: v.$card-hover-background-color;

    &:has(.card__button:hover) {
      background-color: v.$dark-blue;
    }
  }

  &__header {
    position: relative;

    @include m.breakpoint-lg() {
      margin-bottom: 1rem;
    }
  }

  &__title,
  &__hours {
    color: v.$white;
  }

  &__title {
    font-size: t.$font-size-card-titles;
    font-weight: 500;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 4.4rem;
    height: 4.4rem;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4.4rem;
      height: 4.4rem;
      background-color: v.$button-card-hover-background-color;
      mask: url('../img/icon-ellipsis-min.svg') center no-repeat;
    }

    &:hover::after {
      background-color: v.$white;
    }
  }

  &__time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.breakpoint-md() {
      flex-direction: column;
      align-items: start;
    }
  }

  &__hours {
    font-size: t.$font-size-hours;
    font-weight: 300;

    @include m.breakpoint-md() {
      font-size: 5rem;
    }
  }

  &__last-time {
    color: v.$pale-blue;
    font-size: t.$font-size-last-time;
    font-weight: 300;
  }

  @include m.breakpoint-md() {
    align-self: end;
    margin-bottom: 0;
    height: 20rem;
    width: 100%;
  }

  @include m.breakpoint-lg() {
    margin: 0;
    padding: 3rem;
  }
}

.work,
.play,
.study {
  @include m.breakpoint-lg() {
    margin-top: 4rem;
  }
}

.exercise,
.social,
.self-care {
  @include m.breakpoint-lg() {
    align-self: end;
  }
}

/*
***
* 2 - Card Work
***
* CSS applies correct color header and image to work card
*/

.work {
  grid-area: card-work;

  &::after {
    background: url('../img/icon-work-min.svg') 91% -1rem no-repeat v.$salmon;
  }
}

/*
***
* 3 - Card Play
***
* CSS applies correct color header and image to play card
*/

.play {
  grid-area: card-play;

  &::after {
    background: url('../img/icon-play-min.svg') 91% -0.3rem no-repeat v.$picton-blue;

    @include m.breakpoint-lg() {
      background-position-y: -1rem;
    }
  }
}

/*
***
* 4 - Card Study
***
* CSS applies correct color header and image to study card
*/

.study {
  grid-area: card-study;

  &::after {
    background: url('../img/icon-study-min.svg') 92% -0.5rem no-repeat v.$wild-watermelon;

    @include m.breakpoint-lg() {
      background-position-y: -1.1rem;
    }
  }
}

/*
***
* 5 - Card Exercise
***
* CSS applies correct color header and image to exercise card
*/

.exercise {
  grid-area: card-exercise;

  &::after {
    background: url('../img/icon-exercise-min.svg') 93% -0.1rem no-repeat v.$emerald;
  }
}

/*
***
* 6 - Card Social
***
* CSS applies correct color header and image to social card
*/

.social {
  grid-area: card-social;

  &::after {
    background: url('../img/icon-social-min.svg') 94% -1.3rem no-repeat v.$purple-heart;

    @include m.breakpoint-lg() {
      background-position-y: -1.9rem;
    }
  }
}

/*
***
* 7 - Card Self Care
***
* CSS applies correct color header and image to self-care card
*/

.self-care {
  grid-area: card-self-care;

  &::after {
    background: url('../img/icon-self-care-min.svg') 94% -0.8rem no-repeat v.$cream-can;

    @include m.breakpoint-lg() {
      background-position-y: -1.4rem;
    }
  }
}

/*
***
* 8 - Light mode
***
* CSS applies the correct colors for the cards
*/

.light-mode {
  .card {
    &.work {
      background-color: v.$light-mode-card-work-background-color;

      &:hover {
        background-color: v.$light-mode-card-work-hover-background-color;
      }
    }

    &.play {
      background-color: v.$light-mode-card-play-background-color;

      &:hover {
        background-color: v.$light-mode-card-play-hover-background-color;
      }
    }

    &.study {
      background-color: v.$light-mode-card-study-background-color;

      &:hover {
        background-color: v.$light-mode-card-study-hover-background-color;
      }
    }

    &.exercise {
      background-color: v.$light-mode-card-exercise-background-color;

      &:hover {
        background-color: v.$light-mode-card-exercise-hover-background-color;
      }
    }

    &.social {
      background-color: v.$light-mode-card-social-background-color;

      &:hover {
        background-color: v.$light-mode-card-social-hover-background-color;
      }
    }

    &.self-care {
      background-color: v.$light-mode-card-self-care-background-color;

      &:hover {
        background-color: v.$light-mode-card-self-care-hover-background-color;
      }
    }

    &__button {
      &::after {
        background-color: v.$light-mode-card-button-background-color;
      }

      &:hover::after {
        background-color: v.$light-mode-card-button-hover-background-color;
      }
      &:focus-visible {
        outline: 0.2rem solid
          v.$light-mode-card-button-focus-visible-outline-color;
      }
    }

    &__last-time {
      color: v.$light-mode-last-time-text-color;
    }
  }
}
