// Import variables
@use '../abstracts/variables' as v;

// Import mixins
@use '../abstracts/mixins' as m;

@use '../base/typography' as t;

.report-for {
  display: grid;
  grid-template-areas: 'report-header' 'report-nav';
  grid-area: report-for;
  margin: 0 auto 6rem;
  max-width: 33rem;
  background-color: v.$dark-blue;
  border-radius: 1.5rem;

  &__header {
    grid-area: report-header;
    display: grid;
    grid-template-areas:
      'report-avatar report-heading'
      'report-avatar report-name'
      'report-nav report-nav';
    grid-template-columns: 7rem 1fr;
    grid-column-gap: 1.5rem;
    align-items: end;
    padding: 3rem 2.5rem;
    background-color: v.$blue;
    border-radius: 1.5rem;

    @include m.breakpoint-lg() {
      grid-template-areas:
        'report-avatar'
        'report-heading'
        'report-name';
      grid-template-columns: 1fr;
      padding: 3rem 3rem 5rem;
    }
  }

  &__avatar {
    grid-area: report-avatar;
    border: 0.2rem solid v.$white;
    border-radius: 100%;

    @include m.breakpoint-lg() {
      align-self: start;
      margin-bottom: 4rem;
      max-width: 8rem;
    }
  }

  &__heading {
    grid-area: report-heading;
    color: v.$pale-blue;
    font-size: t.$font-size-report-for-heading;
    font-weight: 400;
  }

  &__name {
    grid-area: report-name;
    align-self: start;
    color: v.$white;
    font-size: 2.5rem;
    font-weight: 300;

    @include m.breakpoint-lg() {
      font-size: 4rem;
    }
  }

  &__nav {
    grid-area: report-nav;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3.5rem;

    @include m.breakpoint-lg() {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__nav-button {
    color: v.$desaturated-blue;
    background: none;
    border: none;

    &.is-active {
      color: v.$white;
    }
  }

  @include m.breakpoint-md() {
    align-self: end;
    margin-bottom: 0;
    width: 100%;
  }

  @include m.breakpoint-lg() {
    grid-template-areas: 'report-header' 'report-header' 'report-nav';
    grid-template-rows: repeat(2, max-content);
    align-self: initial;
    margin-bottom: 0;
  }
}
